// This file is used to style the iframe that is injected into the page
.historymap-crx-iframe {
  border: none;
  // border-radius: 2px;
  // box-shadow:
  //   0 2px 4px rgba(0, 0, 0, 0.2),
  //   0 -1px 0px rgba(0, 0, 0, 0.02);
  // background-color: #fff;
  margin: 0.5rem;
  position: fixed;
  top: 50%;
  right: 0;
  // width: min-content;
  // height: min-content;
  // min-height: 40px;
  transform: translateY(-50%);
}

[hm-clipper-hovered="true"] {
  outline: 2px dashed #D18700;
}

[hm-clipper-selected="true"] {
  background-color: rgba($color: #FFB900, $alpha: 0.1);
}

.historymap-selection-toolbar-iframe {
  position: absolute;
  transform: translateX(-50%) translateY(-100%);
  width: 6rem;
  height: 3rem;
}

.historymap-note-box-iframe {
  position: absolute;
  width: 10rem;
  height: 5rem;
  right: 1rem;
}

iframe {
  border: none;
}
