.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
}

.control-panel {
  margin-bottom: 10px;
}

.responsive-iframe {
  flex-grow: 1; /* This makes the iframe take up the remaining space */
  width: 100%; /* Full width */
  border: none; /* Optional: removes the border */
}
