.tag-list {
    padding: 0.5rem;
    font-size: 0.8rem;
}

.tag-list .tag {
    padding: 0.2rem 0.5rem;
}

.tag-list .tag .number {
    color: #999;
}

.tag-list .tag.selected {
    font-weight: bold;
}
