.sm-sensenav .node-container.closed {
	/*opacity: 0.5;*/
}

.sm-sensenav .node {
	display: inline-block;
	border-radius: 6px;
    box-shadow: 0 0 8px #777;
    background-color: white;
    cursor: pointer;
}

.sm-sensenav .closed .node {
	border: 1px solid gray;
}

.sm-sensenav .node.move {
	cursor: move;
}

.sm-sensenav .node.connect {
	cursor: e-resize;
}

.sm-sensenav .node:hover {
    transition: box-shadow .25s ease-in-out;
}

.sm-sensenav .closed .node:hover {
    box-shadow: none !important;
    border-color: magenta;
}

.sm-sensenav .node.hovered {
    box-shadow: 0 0 8px cyan;
}

.sm-sensenav .node.move:hover,
.sm-sensenav .node.connect:hover,
.sm-sensenav .node.highlighted {
    box-shadow: 0 0 8px magenta;
}

.sm-sensenav .node.candidate {
	background-color: #777;
	color: white;
	font-family: Georgia;
	font-size: 1.2em;
	border: none;
	padding: 0 4px;
	border-radius: 0;
}

.sm-sensenav .node-label:hover {
	color: magenta;
}

.sm-sensenav .link path {
	fill: none;
	stroke-width: 2px;
	stroke: #bbb;
}

/* To make icon and label in one line */
.sm-sensenav .node-icon {
	max-width: 22px;
	max-height: 22px;
	display: inline-block;
	margin: 0 3px 0 2px;
}

.sm-sensenav .candidate .node-icon {
	max-width: 30px;
	max-height: 30px;
	display: block;
	margin: auto;
	margin-top: 3px;
	padding: 0;
}

/* Action type icon */
.sm-sensenav .node-icon.fa {
	color: white;
	padding: 3px;
	border-radius: 4px;
	width: 1.4em;
	margin: 1px 3px 1px 0;
}

.sm-sensenav .node-label {
	display: inline-block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom; /* inline-block and overflow hidden make text move upwards */
}

.sm-sensenav .cursor-link {
	stroke-width: 2;
    stroke: red;
    shape-rendering: auto;
    box-shadow: 0 0 8px green;
}

.sm-sensenav .parent {
	padding: 3px;
}

.sm-sensenav .parent.has-children {
	font-weight: bold;
	border-bottom: 1px solid gray;
}

.sm-sensenav .children {
	padding: 3px;
	padding-left: 5px;
}