.sm-sensemap .node {
	display: inline-block;
    background-color: white;
    color: black;
	box-shadow: 0 0 0 1px #6e6e6e, 0 0 0 2px rgba(0,0,0,0);
    border-radius: 3px;
    transition: all 0.25s ease-in-out;
}

.sm-sensemap .node.mini {
	background-color: #6e6e6e;
    width: 10px;
    height: 10px;
    margin-bottom: 6px;
    cursor: pointer;
    box-shadow: 0 0 0 2px #6e6e6e;
}

.sm-sensemap .node.removed {
	cursor: pointer;
}

.sm-sensemap .node.connect {
	cursor: e-resize;
}

.sm-sensemap .node:hover,
.sm-sensemap .node.hovered,
.sm-sensemap .node.brushed {
	box-shadow: 0 0 0 2px #e74c3c !important;
	border: none !important;
}

.sm-sensemap .node.mini:hover,
.sm-sensemap .node.mini.hovered {
	box-shadow: 0 0 0 2px #e74c3c;
}

.sm-sensemap .node.highlighted {
    background-color: #1abc9c !important;
}

.sm-sensemap .node.favorite {
    background-color: #f1c40f;
}

.sm-sensemap .node.not-seen {
	box-shadow: none;
	border: 1px dashed #6e6e6e;
}

.sm-sensemap .node-title {
	margin: -3px -3px 3px -3px;
    padding: 3px;
}

.sm-sensemap .node-snapshot {
	max-height: 150px;
}

.sm-sensemap .link path {
	fill: none;
	stroke: #6e6e6e;
}

.sm-sensemap .link path.main-link {
	marker-end: url(#arrow-marker);
	stroke-width: 1.5px;
}

.sm-sensemap .link path.main-link.brushed,
.sm-sensemap .link path.main-link.hovered {
	stroke: #e74c3c;
	stroke-width: 2px;
	marker-end: url(#arrow-marker-hover);
}

.sm-sensemap .link path.hover-link {
	opacity: 0;
	stroke-width: 15px;
}

.sm-sensemap .link path.user-added {
	stroke: blue;
	marker-end: url(#arrow-marker-cursor);
}

/* To make icon and label in one line */
.sm-sensemap .node-icon {
	max-width: 22px;
	max-height: 22px;
	display: inline-block;
	margin-right: 3px;
}

/* Action type icon */
.sm-sensemap .node-icon.fa {
	color: white;
	padding: 3px;
	border-radius: 4px;
	width: 1.4em;
	margin: 1px 3px 1px 0;
}

.sm-sensemap .node-label {
	display: inline-block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom; /* inline-block and overflow hidden make text move upwards */
}

.sm-sensemap .cursor-link {
	stroke-width: 1.5px;
    stroke: blue;
    shape-rendering: auto;
    marker-end: url(#arrow-marker-cursor);
    pointer-events: none; /* to prevent mouseover on the link, which causes mouseout from the node */
}

.sm-sensemap .parent {
	padding: 3px;
}

.sm-sensemap .parent.has-children {
	font-weight: bold;
	border-bottom: 1px solid #6e6e6e;
}

.sm-sensemap .children {
	padding: 3px;
}

/* Node menu */
.sm-sensemap .node .btn-group,
.sm-sensemap .node-curated {
	position: fixed;
	font-size: 18px;
	color: #2ecc71;
}

.sm-sensemap .node-curated {
	pointer-events: none;
}

/* Link menu */
.sm-sensemap .menu-container .btn-group,
.sm-sensemap .menu-container .btn {
	position: inherit;
}

.sm-sensemap .node .btn,
.sm-sensemap .link .btn {
	padding: 4px 6px;
	font-size: 18px;
}

/* Overwrite bootstrap tooltip */
.tooltip.in {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

.sm-sensemap .brush .extent {
	stroke: #fff;
	fill-opacity: .125;
  	shape-rendering: crispEdges;
}