.sm-sensepath {
    -webkit-user-select: none;
}

.sm-sensepath-item {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 0 10px #666;
    cursor: pointer;
    border: 1px solid #fff;
    position: absolute;
}

.sm-sensepath-item:hover, .sm-sensepath-item.brushed {
    transition: box-shadow .25s ease-in-out;
    box-shadow: 0 0 20px red;
}

.sm-sensepath-item.linked {
    transition: box-shadow .25s ease-in-out;
    box-shadow: 0 0 20px cyan;
}

.sm-sensepath-item.selected {
    border: 1px solid red;
}

.sm-sensepath-item.excluded {
    opacity: 0.3 !important;
}

.sm-sensepath-item img {
    border-radius: 6px;
    object-fit: cover;
    opacity: 0.5;
    pointer-events: none;
}

.sm-sensepath-item.merged img {
    border-radius: 12px;
}

.sm-sensepath-item-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sm-sensepath-item-text {
    font-size: 2em;
    padding: 3px 3px 3px 40px;
    vertical-align: baseline;
    position: relative;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(255,255,255,0.8);
    text-align: left;
}

.sm-sensepath-item-text.extra-source {
    padding-left: 45px;
}

.sm-sensepath-item-text.text-view {
    border-radius: 6px;
}

.sm-sensepath-item-icon {
    position: absolute;
    left: 3px;
    bottom: 5px;
    top: auto;
    padding: 3px;
    border: 1px solid #444;
    border-radius: 6px;
}

.sm-sensepath-item-icon.extra-source {
    padding-left: 16px;
    left: -2;
}

.sm-sensepath-sub-item .sm-sensepath-item-icon, .sm-sensepath-item-icon.fa-globe, .sm-sensepath-item-icon.fa-street-view, .sm-sensepath-item-icon.fa-search {
    color: white;
}

.sm-sensepath-item-icon.fa-globe.extra-source, .sm-sensepath-item-icon.fa-street-view.extra-source, .sm-sensepath-item-icon.fa-search.extra-source {
    color: #444;
}

.sm-sensepath-sub-item .sm-sensepath-item-icon:hover {
    transition: box-shadow .25s ease-in-out;
    box-shadow: 0 0 20px red;
}

.sm-sensepath-item-icon.fa-link, .sm-sensepath-item-icon.fa-undo, .sm-sensepath-item-icon.fa-keyboard-o, .sm-sensepath-item-icon.fa-bookmark {
    padding-top: 4px;
}

.sm-sensepath-item-icon.fa-image {
    padding-left: 2.5px;
}

.sm-sensepath-item-icon.fa-keyboard-o, .sm-sensepath-item-icon.fa-commenting-o {
    padding-left: 2px;
}

.sm-sensepath-sub-item {
    position: absolute;
    border-radius: 6px;
}

.sm-sensepath-sub-item .sm-sensepath-item-icon { /* Highlight and note icons are a bit high compared to text */
    padding-top: 4px;
}

.sm-sensepath-sub-item-text {
    font-size: 2em;
    padding: 3px 3px 3px 40px;
    vertical-align: baseline;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(255,255,255,0.8);
    border-radius: 6px;
}

.sm-sensepath-sub-item-text.text-view {
    background-color: #fff;
}

.no-border-radius {
    border-radius: 0;
}

.crosshair {
    cursor: crosshair;
}

.sm-sensepath-item-buttons {
    position: relative;
}

.sm-sensepath-item-buttons.btn-group {
    position: absolute;
    top: -24px;
    right: 0;
    z-index: 10;
}

.sm-sensepath-item-icon .sm-sensepath-item-buttons.btn-group {
    position: absolute;
    top: -24px;
    right: -24px;
    z-index: 10;
    width: 70px;
}

.sm-sensepath-item-buttons .btn {
    background-color: rgba(255,255,255,0.7);
}

.sm-prevent-event {
    pointer-events: none;
}

.sm-sensepath-group {
    position: absolute;
    border-radius: 10px;
    text-align: left;
    padding-left: 5px;
}

.sm-sensepath-group.hover {
    box-shadow: 0 0 10px #666;
    border: 10px solid white !important;
    border-style: dashed !important;
}

.sm-sensepath-group.excluded {
    opacity: 0.3 !important;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
}

.sm-sensepath-group-label div {
    vertical-align: baseline;
    font-size: 30px;
    font-family: Georgia;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block; /* Must be block for text-overflow, not even inline-block */
}

.sm-sensepath-group-label img {
    display: inline;
    max-width: 36px;
    max-height: 36px;
    position: absolute;
}


.sm-sensepath-brush {
    position: absolute;
    border: 1px solid #000;
    opacity: 0.3;
    background-color: #ccc;
}

.sm-sensepath-toolbar {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 3px 4px;
}

.sm-sensepath-toolbar .btn, .sm-sensepath-fisheye .btn {
    padding: 2px 4px;
}

.sm-sensepath-filterbar {
    position: fixed;
    top: 25px;
    right: 0px;
}

.sm-sensepath-filterbar input {
    -webkit-appearance: slider-vertical;
    width: 25px;
    height: 50px;
}

.sm-sensepath-filterbar output {
    padding: 3px;
}

.sm-sensepath-fisheye {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 1px 3px;
}

.sm-sensepath-tag {
    position: absolute;
    z-index: 20;
}

.sm-sensepath-tag input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.sm-sensepath-tag select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sm-sensepath-transcript {
    position: absolute;
    z-index: 20;
}

.sm-sensepath-transcript textarea {
    width: 300px;
}