.sm-table-row {
    cursor: pointer;
}

.sm-table-row.selected {
    border: 2px solid red;
}

.sm-table th {
    text-align: center;
}

.sm-table thead {
	display: block;
}

.sm-table tbody {
    display: block;
    overflow: auto;
}